%div.main
  %div.container
    %img.landing_img(src="/assets/landing_page.png")
    %div.main_footer
    %img.s_img(src="/assets/S.png")
    %div.text_container
      %span.main_text
        The new kingdom of style.
      %br
      %span.minor_text
        The designers dream place to open an online boutique, and the trendsetters secret go-to store.
    %div.input_box
      %input{:type=>"text"}
