html, body { height: 100%; overflow: hidden; width: 100%; -webkit-font-smoothing: antialiased; }

div.main {
  margin: 0;
  overflow: hidden;
}

img.landing_img {
  height: auto;
  width: 100%;
}

body {
  margin: 0;
}

div.container {
  height: 100%;
  position: relative;
  width: 100%;
}

div.main_footer {
  background-color: #000000;
  bottom: 0;
  height: 128px;
  left: 0;
  opacity: 0.32;
  position: absolute;
  width: 100%;
  z-index: 10;
}

img.s_img {
  bottom: 0;
  left: 0;
  height: 128px;
  position: absolute;
  width: 128px;
  z-index: 100;
}

span.main_text, span.minor_text {
  color: white;
  float: left;
  font-family: 'News Cycle', sans-serif;
}

span.main_text {
  font-size: 40px;
}

span.minor_text {
  font-size: 15px;
}

.blank {
  .blank_section, .claim_username_label { display: block; }
  .email_entered_section, .thankyou { display: none; }
}
.email_entered {
  .email_entered_section .claim_username_label { display: block; }
  .blank_section, .thankyou { display: none; }
}
.form_submitted {
  .thankyou { display: block; }
  .blank_section, .email_entered_section, .claim_username_label { display: none; }
}
.send_tweet { display: none; }

div.text_container {
  bottom: 0;
  float: left;
  height: 50px;
  margin-left: 150px;
  margin-bottom: 50px;
  position: absolute;
  z-index: 100;
}

div.input_box {
  bottom: 0;
  color: white;
  font-family: 'News Cycle', sans-serif;
  font-size: 15px;
  height: 30px;
  margin-bottom: 50px;
  margin-right: 86px;
  position: absolute;
  right: 0;
  width: 400px;
  z-index: 100;
}

div.input_box input {
  background-color: #000000;
  border: 1px solid white;
  color: white;
  font-size: 25px;
  height: 30px;
  opacity: .38;
  outline: none;
  width: 400px;
}

input:focus {
  color: white;
}

img.mail_icon {
  float: right;
  height: 30px;
  position: absolute;
  right: 0;
  width: 30px;
}

.email_field {
  position: relative;
}

.email_field input {
  position: absolute;
}

.username_field {
  display: none;
}

.actions {
  display: none;
}

.error {
  color: red;
}

.valid {
  color: green;
}
