html, body { height: 100%; overflow: hidden; width: 100%; -webkit-font-smoothing: antialiased; }

div.main {
  margin: 0;
  overflow: hidden;
}

img.landing_img {
  height: auto;
  width: 100%;
}

body {
  margin: 0;
}

div.container {
  height: 100%;
  position: relative;
  width: 100%;
}

div.main_footer {
  background-color: #000000;
  background-color: rgba(0, 0, 0, .38);
  bottom: 0;
  height: 104px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

img.s_img {
  border: 0;
  bottom: 0;
  left: 0;
  height: 104px;
  position: absolute;
  width: 104px;
  z-index: 100;
}

.s_img_link {
  border: 0;
}

span.main_text, span.minor_text {
  color: white;
  display: block;
  font-family: 'News Cycle', sans-serif;
}

span.main_text {
  font-size: 40px;
}

span.minor_text {
  font-size: 15px;
}

label { text-align: center; display: block; }

.claim_username_label_temp { display: none; }

.blank {
  .blank_section, .claim_username_label { display: block; }
  .blank_section { margin-top: 5px }
  .claim_username_label { margin-top: 10px }
  .email_entered_section, .thankyou { display: none; }
}
.email_entered {
  .email_entered_section, .claim_username_label { display: block; margin-top: 5px }
  .blank_section, .thankyou { display: none; }
}
.form_submitted {
  .thankyou { display: block; }
  .blank_section, .email_entered_section, .claim_username_label { display: none; }
}
.send_tweet { display: none; }

.email_entered_section { position: relative; width: 402px; }
div.text_container {
  bottom: 0;
  height: 100px;
  margin-left: 150px;
  margin-bottom: 5px;
  position: absolute;
  z-index: 100;
}

div.input_box {
  bottom: 0;
  color: white;
  font-family: 'News Cycle', sans-serif;
  font-size: 15px;
  height: 50px;
  margin-bottom: 45px;
  margin-right: 86px;
  position: absolute;
  right: 0;
  width: 400px;
  z-index: 100;
}

.email_input_field, #signup_username {
  background-color: #000000;
  background-color: rgba(0, 0, 0, .38);
  border: 0;
  color: white;
  font-size: 25px;
  height: 30px;
  outline: none;
  text-align: center;
  width: 400px;
}
.thankyou {
  background-color: #000000;
  background-color: rgba(0, 0, 0, .38);
  color: white;
  margin-top: 18px;
  padding: 4px 0 7px;
  text-align: center;
  width: 400px;
}

input {
  /*font-family: 'News Cycle', sans-serif;*/
}
input:focus {
  color: white;
}

.mail_icon {
  cursor: pointer;
  float: right;
  height: 30px;
  padding: 0;
  position: absolute;
  right: 0;
  width: 30px;
}

.email_field {
  position: relative;
}

.email_field input {
  position: absolute;
}

.username_field {
  display: none;
}

.actions {
  display: none;
}

.blank_section {
  height: 52px;
  width: 402px;
}

.mail_icon {
  background: url(/assets/mail_icon_rounded.png) no-repeat center -1px;
  border: 0;
  right: -7px;
  height: 18px;
  opacity: 0.3;
  outline: none;
  position: absolute;
  text-indent: -10000px;
  top: 6px;
  width: 26px;
}

.email_field input[type=text] {
  position: absolute;
  width: 420px;
}

.claim_username_label {
  text-align: center;
}
.claim_username {
  background: #fff;
  border: 0;
  -webkit-appearance: none;
}

.mail_icon.error {
  background-position: center -63px;
}

.mail_icon.valid {
  background-position: center -32px;
}

.signup_username_submit {
  background: url('/assets/Twitter_logo_white.png') no-repeat left top;
  border: 0;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: 3px;
  text-indent: -10000px;
  top: 5px;
  width: 27px;
  &.error {
    background-image: url('/assets/Twitter_logo_red.png');
  }
  &.valid {
    background-image: url('/assets/Twitter_logo_blue.png');
  }
}
.signup_username_error {
  display: none;
}

::-webkit-input-placeholder {
  opacity: 0.4;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.4;

}
:-ms-input-placeholder {
  opacity: 0.4;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 0.4;
}

.signup_email_label {
  margin-bottom: 5px;
  width: 420px;
}

@media only screen
and (max-device-width : 568px)
and (orientation : portrait) {

  div.main_footer {
    height: 100%;
  }

  img.s_img {
    height: 200px;
    width: 200px;
  }

  div.text_container {
    height: auto;
    margin: auto;
    text-align: center;
    top: 0;
    width: 100%;
  }

  span.main_text {
    font-size: 130px;
    line-height: 1;
    padding: 40px;
  }

  span.minor_text {
    font-size: 50px;
    padding: 0 40px 40px 40px;
  }

  div.input_box {
    bottom: auto;
    font-size: 40px;
    margin: auto;
    top: 600px;
    width: 100%;
  }

  div.input_box input[type="checkbox"] {
    height: 50px;
    width: 50px;
  }

  div.blank_section {
    width: auto;
  }

  label.signup_email_label {
    padding: 0 210px;
    width: auto;
  }

  div.email_field {
    position: relative;
    width: auto;
    height: 100px;
    text-align: center;
  }

  div.email_field input[type="text"] {
    font-size: 40px;
    height: 70px;
    margin-left: 210px;
    width: 530px;
  }

  input.mail_icon {
    padding-right: 460px;
    right: 5px;
    top: 35px;
  }

  .blank .claim_username_label {
    margin-top: 156px;
  }

  span.checkboxbutton_on {
    height: 50px;
    width: 50px;
  }

  span.checkboxbutton {
    height: 50px;
    width: 50px;
  }

  #signup_username {
    font-size: 40px;
    margin-left: 280px;
    padding: 30px;
    text-align: left;
  }

  div.email_entered_section {
    width: auto;
  }

  .signup_username_submit {
    right: 250px;
    top: 40px;
  }

}

@media only screen
and (max-device-width : 568px)
and (orientation : landscape) {

  div.main_footer {
    height: 100%;
  }

  div.text_container {
    height: auto;
    margin: auto;
    text-align: center;
    top: 0;
    width: 100%;
  }

  span.main_text {
    font-size: 80px;
    line-height: 1;
    padding: 20px;
  }

  span.minor_text {
    font-size: 35px;
    padding: 0 180px 40px 180px;
  }

  div.input_box {
    font-size: 25px;
    margin-bottom: 120px;
    margin-right: 320px;
  }

  .blank .claim_username_label {
    font-size: 26px;
    margin-top: 65px;
  }

  span.checkboxbutton {
    height: 30px;
    width: 30px;
  }

  .signup_username_label {
    font-size: 26px;
    padding: 0 40px;
  }

}
